<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hyun.mtfinace.dao.MetaAccountDao">

    <!--基本字段定义 -->
    <sql id="base_column">
        id,
        email,
        account_id,
        profile_id,
        investor_password,
        login,
        password,
        group,
        leverage,
        state,
        lead_source,
        enabled,
        currency,
        created_at,
        created_by,
        updated_at,
        updated_by
    </sql>

    <!--按主键进行查询，返回唯一一条记录 对应repository findOne方法 -->
    <select id="findOne"  resultType="cn.com.hyun.mtfinace.dto.MetaAccountDto">
        SELECT 
            <include refid="base_column" />
        FROM 
            meta_account
        WHERE
            id = #{id}
    </select>
 
 

    <!--无条件全部记录检索 对应repository findAll方法 -->
    <select id="findAll" resultType="cn.com.hyun.mtfinace.dto.MetaAccountDto">
        SELECT 
            <include refid="base_column" />
        FROM 
            meta_account
    </select>


    <!--插入记录 对应repository insert方法 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.com.hyun.mtfinace.entity.MetaAccount">
        INSERT INTO
            meta_account
        (
          id,
          email,
          account_id,
          profile_id,
          investor_password,
          login,
          password,
          group,
          leverage,
          state,
          lead_source,
          enabled,
          currency,
          created_at,
          created_by,
          updated_at,
          updated_by
        )
        VALUES
        (
          #{id},
          #{email},
          #{accountId},
          #{profileId},
          #{investorPassword},
          #{login},
          #{password},
          #{group},
          #{leverage},
          #{state},
          #{leadSource},
          #{enabled},
          #{currency},
          #{createdAt},
          #{createdBy},
          #{updatedAt},
          #{updatedBy}
        )
    </insert>

    <!--动态更新 对Input来的数据不为空的字段进行更新 对应Dao dynamicUpdate方法 -->
    <update id="dynamicUpdate" parameterType="cn.com.hyun.mtfinace.entity.MetaAccount">
        UPDATE
            meta_account
        <set>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="accountId != null">
                account_id = #{accountId},
            </if>
            <if test="profileId != null">
                profile_id = #{profileId},
            </if>
            <if test="investorPassword != null">
                investor_password = #{investorPassword},
            </if>
            <if test="login != null">
                login = #{login},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="group != null">
                group = #{group},
            </if>
            <if test="leverage != null">
                leverage = #{leverage},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="leadSource != null">
                lead_source = #{leadSource},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="currency != null">
                currency = #{currency},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>

    <!--动态更新 按照实体的值实际数据进行更新对应Dao update方法 -->
    <update id="update" parameterType="cn.com.hyun.mtfinace.entity.MetaAccount">
        UPDATE
            meta_account
        SET
            email = #{email},
            account_id = #{accountId},
            profile_id = #{profileId},
            investor_password = #{investorPassword},
            login = #{login},
            password = #{password},
            group = #{group},
            leverage = #{leverage},
            state = #{state},
            lead_source = #{leadSource},
            enabled = #{enabled},
            currency = #{currency},
            created_at = #{createdAt},
            created_by = #{createdBy},
            updated_at = #{updatedAt},
            updated_by = #{updatedBy}
        WHERE
            id = #{id}
    </update>
    
    <!--删除 对应Dao delete方法 -->    
    <delete id="delete" >
        DELETE FROM 
            meta_account
        WHERE
            id = #{id}
    </delete>
</mapper>
