<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%clr(%date){blue} - %clr([%thread]){magenta} - %clr([%-5level]){cyan} - %clr([%class.%method\(line:%line\)]){cyan} - %clr(%msg%n)
            </pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.apache.commons" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.apache.http" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="com.netflix" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="com.netflix" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="freemarker" level="WARN" additivity="false">
        <appender-ref ref="file"/>
    </logger>

    <root>
        <appender-ref ref="file"/>
    </root>
</configuration>
